@model MVCWebshop.Models.Order

@{
    ViewData["Title"] = "Details of Order";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                Description
            </th>
            <th>
                Amount
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ShoppingCart.CartItems) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShopItem.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopItem.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
        </tr>
}
    </tbody>
    </table>

<div>
    <a asp-action="Index">back to list.</a>
</div>
