@model IEnumerable<MVCWebshop.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>My Orders</h1>
@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StartOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Remark)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                    <p>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </p>
}
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
}
else {
    <p>You do not have any orders yet. Please order something.</p>
}